body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #9ea3b0;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 10px;
}

.App {
  height: 500px;
  width: 400px;
  padding: 10px 40px;  
  background-color: #ffffff;
  box-shadow: -1px -1px 15px 9px rgb(0 0 0 / 3%), -1px -1px 15px 9px rgb(0 0 0 / 3%), -1px -1px 15px 9px rgb(0 0 0 / 3%), -1px -1px 15px 9px rgb(0 0 0 / 3%);
}

.write {
  height: 30px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
}

.todo_input {
  height: 30px;
  font: 300 1.8rem/1.5 'Noto Sans KR', sans-serif;
  width: 80%;
  border: inherit;
  border-bottom: 2px solid #7b7b7b;
}

.submit_btn {
  width: 20%;
  height: 30px;
  color: #fff;
  background-color: #6e6769;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 3px rgb(0 0 0 / 10%);
}

.done {
  padding: 2px;
  background-color: #f3f3f3;
  border: 1px solid rgb(216, 216, 216);
}

.btn, .title{
  display:inline;
}

.btn{
  padding-left: 5px;
  padding-right: 5px;
}

.todotitle{
  margin-left: 80px;
  font-size: 30px;
  color: #75797d;
  padding-left : 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

textarea {
  width: 330px;
}

.title{
  width:320px;
}
.updownbutton{
  background-color:#f3f3f3;
  margin-right: 15px;
}
.up{
  border: 1px solid rgb(216, 216, 216);
}
.down{
  border: 1px solid rgb(216, 216, 216);
}
.scroll{
  overflow-y: auto;
  height: 330px;
}